/* primary */

.primari1 {
  color: #2f80ed;
}

.primari2 {
  color: #4f4f4f;
}

.primari3 {
  color: #828282;
}

.primari4 {
  color: #e0e0e0;
}

.indikator1 {
  color: #f8b76b;
}

.indikator2 {
  color: #8785ff;
}

.indikator3 {
  color: #eb5757;
}

.indikator4 {
  color: #f2c94c;
}

.chat1 {
  color: #fceed3;
  background: #e5a443;
}

.chat2 {
  color: #eedcff;
  background: #9b51e0;
}

.chat3 {
  color: #d2f2ea;
  background: #43b78d;
}
