.App {
  text-align: center;
  background-color: #4f4f4f;
}

.App-header {
  min-height: 94.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
